<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908443179765-jrbedmiri7pqo49rtteclgev3end25hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908443179765-jrbedmiri7pqo49rtteclgev3end25hl</string>
	<key>API_KEY</key>
	<string>AIzaSyA0kX9GiyuvSmadCd86EaQEjRqi3k-bvf4</string>
	<key>GCM_SENDER_ID</key>
	<string>908443179765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deviceFusion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>devicefusion-4059d</string>
	<key>STORAGE_BUCKET</key>
	<string>devicefusion-4059d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908443179765:ios:2496d6a3695323d83643bc</string>
</dict>
</plist>